<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Portfolio</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <b><h1 style ="text-align: center; color: black;">Computer Science 2021</h1></b>

    <p style = "text-align: center;"><u>I am Samara Goldsworthy and I am currently taking this course.</u></p> 
    <body style="background-color:mistyrose;">
    
    <p style = "text-align: center;">Click any of the below links to see the different labs I have completed so far!</p>


    <p style = "text-align: center;"><a href="/lesson1">Lesson 1 - C</a></p>
    <p style = "text-align: center;"> <a href="/lesson2">Lesson 2 - Arrays</a></p>
    <p style = "text-align: center;">  <a href="/lesson3">Lesson 3 - Algorithms</a></p>
   <p style = "text-align: center;">  <a href="/lesson4">Lesson 4 - Memory</a></p>
      
      <p style = "text-align: center;">
        <img style ="width 200px"  src = "https://cdn.glitch.com/3f0b3adf-9635-45cf-8ead-327125f1c379%2Fcs50name%20(2).jpg?v=1616765672172" />
      </p>
    
   <p style = "text-align: center;">
     <h>Click below to see the code for the Python versions of Mario and Hello I completed!</h>
      </p>
      <p style = "text-align: center;"><a href="/mariopy">Mario and Hello (Python) </a></p>
     