
<b><p style = "text-align: center;">Command Line Interaction </p></b>
<p style = "text-align: center;">In this lab I learned what are command-line arguments,
how can we use command-line arguments and why we need to test for the correct argument count.</p>
<script src="https://gist.github.com/SamaraGoldsworthy/5d654b566dfee3e57c154dc227d7f2c6.js"></script>

<b><p style = "text-align: center;">Exit Codes</p></b>
<p style = "text-align: center;">In this lab I learned what is meant by an exit code and 
  how we use exit codes.</p>
<script src="https://gist.github.com/SamaraGoldsworthy/4882130dd7b7c27fb7785bedba387a44.js"></script>


<b><p style = "text-align: center;">Typecasting</p></b>
<p style = "text-align: center;">In this lab I learned what is meant by typecasting, the possible uses 
  of typecasting and implicit vs. explicit typecasting.</p>
<script src="https://gist.github.com/SamaraGoldsworthy/fbd63bc6424733841ac14b0b1e8127fd.js"></script>


<b><p style = "text-align: center;">Arrays and Strings</p></b>
<p style = "text-align: center;">In this lab I learned what is an array, how we create 
  and use arrays and why a for loop is so useful for arrays and strings.</p>
<script src="https://gist.github.com/SamaraGoldsworthy/1cfa769bfeae2d61f531c645ce5cdb5b.js"></script>


<b><p style = "text-align: center;">Functions</p></b>
<p style = "text-align: center;">In this lab I learned what is a function, why programmers use
  functions,
and how to write your own functions in C.</p>
<script src="https://gist.github.com/SamaraGoldsworthy/089f2b1b5a223f4bd99b83081fe92819.js"></script>

<b><p style = "text-align: center;">Bugs and Debugging</p></b>
<p style = "text-align: center;">In this lab I learned the differences between syntax errors 
  and logic errors and 
various ways to debug my code.</p>
<script src="https://gist.github.com/SamaraGoldsworthy/aae42d26104a32358489e79d7cceae2a.js"></script>

