
<body style="background-color:Azure;"></body>
<b><p style = "text-align: center;">Linear Search</p></b>
<p style = "text-align: center;">In this lab I learned about linear search and 
computational complexity. </p>
<script src="https://gist.github.com/SamaraGoldsworthy/fc06b5bf837a1f4c494f6de138f93002.js"></script>

<b><p style = "text-align: center;">Bubble Sort</p></b>
<p style = "text-align: center;">In this lab I learned about how bubble sort works and Computational Complexity. </p>
<script src="https://gist.github.com/SamaraGoldsworthy/6072157a1294894e62b4593d67183c5c.js"></script>

<b><p style = "text-align: center;">Selection Sort</p></b>
<p style = "text-align: center;">In this lab I learned about how selection sort works and more about Computational
Complexity.</p>
<script src="https://gist.github.com/SamaraGoldsworthy/8d9873ecc91d22491634dd644d496868.js"></script>


<b><p style = "text-align: center;">Insertion Sort</p></b>
<p style = "text-align: center;">In this lab I learned about how insertion sort works and once again, information about Computational
Complexity.</p>
<script src="https://gist.github.com/SamaraGoldsworthy/0a7ee730ace1a07f1b273a3e45a7a171.js"></script>

<b><p style = "text-align: center;">Binary Search</p></b>
<p style = "text-align: center;">In this lab I learned about how binary search works and the Computational Complexity involved. </p>
<script src="https://gist.github.com/SamaraGoldsworthy/3e6a3feefd87617d050902f41dffbead.js"></script>

<b><p style = "text-align: center;">Models and Simulations</p></b>
<p style = "text-align: center;">In this lab I learned about why we use computer models and simulation and some commonly used applications.</p>
<script src="https://gist.github.com/SamaraGoldsworthy/ceb848223e60ef5015f6ae8e43397876.js"></script>