
<b><p style = "text-align: center;">Structures and Encapsulation</p></b>
<p style = "text-align: center;">In this lab I learned about what structures are and why we use them. As well, I learned how
to create and use them. </p>

<b><p style = "text-align: center;">Recursion</p></b>
<p style = "text-align: center;">In this lab I learned about what recursion is all about and how to use recursion in a program. </p>
<script src="https://gist.github.com/SamaraGoldsworthy/8b0bbe72c31410e32e964f01859b8858.js"></script>

<b><p style = "text-align: center;">Merge Sort</p></b>
<p style = "text-align: center;">In this lab I learned about how merge sort works and more about Computational Complexity.</p>
<script src="https://gist.github.com/SamaraGoldsworthy/badfd2e2e3cef12629d9f986bc5621f3.js"></script>

<b><p style = "text-align: center;">Hexadecimal</p></b>
<p style = "text-align: center;">In this lab I learned about</p>

<b><p style = "text-align: center;">File Input Output</p></b>
<p style = "text-align: center;">In this lab I learned about </p>

<b><p style = "text-align: center;">Images</p></b>
<p style = "text-align: center;">In this lab I learned about </p>

<b><p style = "text-align: center;">Pointers and Memory Allocation</p></b>
<p style = "text-align: center;">In this lab I learned about </p>

<b><p style = "text-align: center;">Memory and Functions</p></b>
<p style = "text-align: center;">In this lab I learned about </p>